#top-cart-inside{
    font-size: 45px;
    position: fixed;
    top: 35px;
    right: 35px;
    background-color: rgb(5, 5, 5);

}
/* start-block-ends */

/* first block */
.headerr{
  box-sizing: border-box;
  background-color: rgb(190, 142, 142);
  }
  .headerr .first-block{
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  }
  .first-block-one{
    font-family: 'Dancing Script', cursive;
    font-size: 54px;
  }
  .first-block-two{
  display: flex;
  position: relative;
  right: -250px;
  
  }
  .first-block-three{
    display: flex;
  }
  .first-block-two i{
    border-right:1px solid black ;
    font-size: 40px;
    padding-right: 5px;
  }
  .first-block-three i{
    font-size: 40px;
    border-right:1px solid black ;
    padding-right: 5px;
  }
  @media screen and (max-width: 860px) {
    .headerr{
      width: 100%;
    }
    .headerr .first-block{
      height: 10%;
    }
    .first-block-one{
  margin-left: -30%;
  font-size: 24px;
    }
    .first-block-two{
  
      margin-left: -120%;
      font-size: 9px;
    }
    .first-block-three{
      margin-right:-35%;
      font-size: 9px;
    
    }
    .first-block-two i{
      font-size: 12px;
      height: 2%;
  
    }
    .first-block-three i{
      font-size: 12px;
      height: 2%;
  
    }
  }
  /* first block ends */
  
  
  /* second block */
  .second-block{
  margin: 5px 0px;
  }
  .second-block .second-block-inside{
  margin: 9px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 600px;
  margin-left: 30%;
  }
  .second-block-inside-one{
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;
  }
  .second-block-inside a{
  text-decoration: none;
  margin-top: 15px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-right: 9px;
  padding-left: 9px;
  }
  .second-block-inside a:hover{
  background-color: gray;
  }
  @media screen and (max-width: 860px) {
  
  .second-block .second-block-inside{
  width: 100%;
  margin: 3%  0.2%;
  }
  .second-block-inside-one{
    margin: 3% 2%;
  }
  .second-block-inside a{
    font-size: 9px;
  }
  }
  
  /* secong block ends  */
  
  /* third block  */
  .third-block{
    position: relative;
  }
.third-block-inside{
  /* font-size: 24px; */
  display: flex;
  position: relative;
  justify-content: center;
}

  .third-block-inside p{
    font-size: 34px;
margin-top: 1.5%;
  }
#copyst{
/* font-size: 24px; */
text-align: center;
padding-left: 5px;

font-weight: normal;


}
  /* third block ends  */
  

    /* fourth-block-start */
    .fourth-block{
      background-color: 	F5F5F5;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      margin-bottom: 2%;
    }
.fourth-block-inside{
display: flex;
justify-content:space-between;
align-items: center;
}
.fourth-one{
  margin-left: 3%;

}
.fourth-one a {
  text-decoration: none;
  font-weight: normal; 
}
.fourth-carte{
  margin-right: 3%;

}
.fourth-carte a{
  font-size: 54px;
  text-shadow: 0px 0px 9px rgb(100, 99, 99);
}
.fourth-carte a:hover{
  color: red;
}
  /* fourth-block-ends */

    /* six-block-start */
#six-block{
margin-top: 2%;
}
#six-block-inside{

}
#six-item{
  display: grid;
  grid-template-columns: 29% 29% 29%;
  text-align: center;
  justify-content: space-around;
  box-shadow:  0px 0px 15px rgb(10, 10, 10);
}
.item{
  margin-top: 6%;
  margin-bottom: 6%;
  padding-top: 5%;
 background-color: #FF6347;
 box-shadow: 0px 0px 12px black;
}
@media screen and (max-width: 860px){
  #six-item{ 
    display: inline;
  }
}
 /* six-block-end */


/* detail-block-start */
#detail{
  display: none;
}
.detail-inside{
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;

}
.detail-item{
  text-align: center;
  padding-top: 3%;  
  padding-bottom: 1%;
  background: red;
}
#detail-back{
  position: absolute;
  margin-top: -20%;
  font-size: 34px;
  background-color: black;
  color: red;
  border-radius: 6px;
}
#detail-back:hover{
  transform: scale(1.3);
  transition: 1s;
  background-color: rgb(100, 99, 99);
}
#detail-bay{
  position: absolute;
  margin-top: -15%;
  font-size: 34px;
  background-color: black;
  color: red;
  border-radius: 6px;
}
#detail-bay:hover{
  transform: scale(1.3);
  transition: 1s;
  background-color: rgb(100, 99, 99);
}
#detail-cart{
  position: absolute;
  margin-top: -11%;
  font-size: 34px;
  background-color: black;
  color: red;
  border-radius: 6px;
}
#detail-cart:hover{
  transform: scale(1.3);
  transition: 1s;
  background-color: rgb(100, 99, 99);
}
/* detail-block-ends */








#cart-empty{
  display: none;
}
#cart-notempty{
  display: none;
}
.quantityee{
  border: 4px solid green;
}
/* #remove{

} */
.cart-listee{
  border: 4px solid green;
}









.footer{
  background-color: rgb(236, 232, 232);
}
footer .footer-inside{
  padding-top: 7%;  
  padding-bottom: 4%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-around;
  position: relative;
  /* align-items: center; */

}
.footer-inside .footer-one{
  align-items: center;
  position: relative;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  margin-top: 90%;
}
.footer-inside a{
text-decoration: none;
}
.footer-two-one{
  font-size: 30px;
}
.footer-two-one:hover{
color: red; 
}
.footer-three-one{
  font-size: 30px;
}
.footer-three-one:hover{
  color: red; 
  }
  .reach-us-contect i{
    border-right:1px solid black ;
    border-left:1px solid black  ;
    padding:0px 5px;
  }
  .footer-four-one{
    font-size: 30px;
  }
  .footer-four-one:hover{
    color: red; 
  }
  .footer-five-one{
      font-size: 30px;
  }
  .footer-five-one:hover{
      color: red; 
  }
  @media screen and (max-width: 860px){
  .footer{
    height: 630px;
  }
    footer .footer-inside{
      display: block;
      position: relative;
      align-items: center;
    }
.footer-one h1{
  position: absolute;
  margin-top: -90%;
  margin-left: 30%;
}
.footer-two{
  position: absolute;
  margin-top: -80%;
  margin-left: 5%;
}
.footer-three{
  position: absolute;
  margin-top: -80%;
  margin-left: 50%;
}
.footer-four{
  position: absolute;
  margin-top: -10%;
  margin-left: 5%;
}
.footer-five{
  position: absolute;
  margin-top: -10%;
  margin-left: 50%;
}

}
.copyright{
  background-color: black;
  color: brown;
  padding-top: 1.5%; 
   padding-bottom: 1.5%;
  text-align: center;
}

.five-icon-one{
  background-color: rgb(177, 177, 174);
}
.five-icon-one .five-inside-one{
display: flex;
justify-content: space-between;
height:90px;
margin-left: 30%;
margin-right:30%;
align-items: center;
}
.five-inside-one a{
  font-size: 30px;
}
.five-inside-one a:hover{
  color:red;
}
@media screen and (max-width: 860px){
  .five-icon-one .five-inside-one{
     height: 55px;
  }
  .five-inside-one a{
    font-size: 20px;
  }
}