#header{
    box-sizing: border-box;
  
  }
  #header .top.first {
    background-color: rgb(143, 124, 124);
    
  }
  #header .first {
    box-sizing: border-box;
  
  }
  #header .top.first .first-block{
    height: 95px;
    width: 100%;
    display: flex;
   
    align-items: center;
    border-bottom: 1px solid #7fcbcd;
  }
  #first-right{
   font-size: 55px;
  
  }
  #first-left{
    display: flex;
    align-items: center;
   
  }
  .phone-contect{
    align-items: center;
  margin-left: 750px;
  
  }
  .phone-email{
    align-items: center;
  margin-left: 20px;
  }

































  
  *{
    border: 2px solid black;
  }
  
  
  